<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="infoLog" xsi:type="File" fileName="logs/info.log"></target>
		<target name="errorLog" xsi:type="File" fileName="logs/error.log"></target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="infoLog" />
		<logger name="*" minlevel="Error" writeTo="errorLog" />
	</rules>
</nlog>